.homeContainer {
    // background-image: url(../assets/logo.png);
    overflow: hidden;
    border: .1em solid black;
    border-radius: .2em;
    height: 19em;
    margin: auto;
    // max-height: 50em;
    max-width: 30em;
    // background-position: center;
} 

